@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre o projeto";
}
<h1>@ViewData["Title"]</h1>

<p>
    Biblioteca de conversão usada 
    <a href="https://www.nuget.org/packages/NReco.VideoConverter/">Nreco.VideoConverter</a>
</p>
