@page
@model IndexModel
@{
    ViewData["Title"] = "Conversor de vídeo para áudio";
}

<link rel="stylesheet" href="~/css/Converter.css" asp-append-version="true"/>

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="File">Selecione um arquivo de vídeo:</label>
        <input type="file" class="form-control-file" id="File" name="File" accept=".mp4,.mkv,.avi,.wmv">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

@if (Model.File != null)
{
    <div class="mt-4">
        <p><strong>Formato do arquivo:</strong> @Model.Format</p>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}