.container {
    max-width: 500px;
    margin: auto;
}

    form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    }

    form label {
        display: block;
        margin-bottom: 10px;
    }

    form input[type="file"] {
        display: block;
        margin-bottom: 20px;
    }

    form button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    form button[type="submit"]:hover {
        background-color: #3e8e41;
    }
